{{template "base" .}}

{{define "content"}}
    <div class="cont">
        <div class="row">
            <div class="col">
                <h1>About Page</h1>
                <p>Some about page text</p>
                <p>This came from the template: extra {{index .StringMap "zip"}}</p>
            </div>
        </div>
    </div>
{{end}}