{{template "base" .}}

{{define "content"}}
    <div class="cont">
        <div class="row">
            <h1>This is the home page</h1>
            <h2>This is some text</h2>
            <img src="/static/images/outside.png"/>
        </div>
    </div>

{{end}}